## Importing Packages

In [1]:
import pandas as pd

## Reading data

In [37]:
df = pd.read_csv("data.csv")
df.drop(columns=["switching_carries", "Do you think", "Timestamp"], inplace=True)
df.head()

,email,has_5g_phone,phone_model,carrier,5g_acads,5g_labs,5g_hostel,5g_got_better,switching_acads,switching_labs,switching_hostel,hostel,satisfaction,download_speed
0,ec21b1057@iiitdm.ac.in,Yes,Google Pixel 7,Airtel,Yes,Yes,No,No,Never,Sometimes,Always,Ashwatha,3,100 - 250
1,ec21b1012@iiitdm.ac.in,Yes,IQOO Z6 Lite,Jio,No,Yes,No,Yes,Sometimes,Sometimes,Sometimes,Ashwatha,4,Below 100
2,ec21b1031@iiitdm.ac.in,Yes,Oneplus 9 pro,Jio,Yes,Yes,No,No,Always,Sometimes,Sometimes,Ashwatha,3,Below 100
3,ec21b1025@iiitdm.ac.in,Yes,ONEPLUS 11R,Jio,Yes,No,Yes,No,Sometimes,Sometimes,Always,Ashwatha,4,Below 100
4,cs22b2008@iiitdm.ac.in,No,Redmi Note 8 pro,Airtel,No,No,No,No,Always,Always,Always,Ashoka,3,Below 100

## Transforming data

- transforming Yes/No answers to 1/0
- transforming Always/Sometimes/Never answers to 1/0.5/0
- transforming

In [38]:
df["has_5g_phone"] = df["has_5g_phone"].map({"Yes": 1, "No": 0})
df["5g_acads"] = df["5g_acads"].map({"Yes": 1, "No": 0})
df["5g_labs"] = df["5g_labs"].map({"Yes": 1, "No": 0})
df["5g_hostel"] = df["5g_hostel"].map({"Yes": 1, "No": 0})
df["5g_got_better"] = df["5g_got_better"].map({"Yes": 1, "No": 0})
df["switching_acads"] = df["switching_acads"].map({"Sometimes": 0.5, "Never": 0, "Always": 1})
df["switching_labs"] = df["switching_labs"].map({"Sometimes": 0.5, "Never": 0, "Always": 1})
df["switching_hostel"] = df["switching_hostel"].map({"Sometimes": 0.5, "Never": 0, "Always": 1})

In [39]:
df.head()

,email,has_5g_phone,phone_model,carrier,5g_acads,5g_labs,5g_hostel,5g_got_better,switching_acads,switching_labs,switching_hostel,hostel,satisfaction,download_speed
0,ec21b1057@iiitdm.ac.in,1,Google Pixel 7,Airtel,1,1,0,0,0.0,0.5,1.0,Ashwatha,3,100 - 250
1,ec21b1012@iiitdm.ac.in,1,IQOO Z6 Lite,Jio,0,1,0,1,0.5,0.5,0.5,Ashwatha,4,Below 100
2,ec21b1031@iiitdm.ac.in,1,Oneplus 9 pro,Jio,1,1,0,0,1.0,0.5,0.5,Ashwatha,3,Below 100
3,ec21b1025@iiitdm.ac.in,1,ONEPLUS 11R,Jio,1,0,1,0,0.5,0.5,1.0,Ashwatha,4,Below 100
4,cs22b2008@iiitdm.ac.in,0,Redmi Note 8 pro,Airtel,0,0,0,0,1.0,1.0,1.0,Ashoka,3,Below 100

In [40]:
df.describe()

,has_5g_phone,5g_acads,5g_labs,5g_hostel,5g_got_better,switching_acads,switching_labs,switching_hostel,satisfaction
count,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000
mean,0.872727,0.527273,0.527273,0.363636,0.418182,0.445455,0.500000,0.627273,2.800000
std,0.336350,0.503857,0.503857,0.485479,0.497807,0.380943,0.372678,0.399284,1.161098
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,2.000000
50%,1.000000,1.000000,1.000000,0.000000,0.000000,0.500000,0.500000,0.500000,3.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,0.500000,1.000000,1.000000,3.500000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000